<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>

<h3 th:text="${titulo}"></h3>

<!-- FORMULARIO -->
<!-- El target action especifica la ruta del controlador y el tipo de metodo POST para procesar los datos los datos del formulario con el metodo y la ruta especificada
El th:object="${usuario}" para hacer referencia el mapeo del objeto Usuario y cada uno de sus campos al formulario -->
<form th:action="@{/form}" th:object="${usuario}" method="post">

    <div>
        <label for="pais">País</label>
        <div>
            <select id="pais" th:field="*{pais}"> <!-- Ahora se mapea directamente al objeto pais-->
                <option value="">-- seleccionar --</option> <!-- opcion por defecto si el usuario no lo selecciona, va enviar el valor del value que es vacio y lo va a validar y dira que el campo es requerido -->
                <!-- El metodo en el controlador llamado listaPaises con la anotacion @ModelAtribute esta mapeado a este select-->
                <option th:each="pais: ${listaPaises}" th:text="${pais.nombre}" th:value="${pais.id}"></option>
            </select>
        </div>
        <div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
    </div>

    <div>
        <label for="nombre">Nombre</label>
        <div>
            <input type="text" id="nombre" th:field="*{nombre}">
        </div>
        <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
    </div>
    <div>
        <label for="apellido">Apellido</label>
        <div>
            <input type="text" id="apellido" th:field="*{apellido}">
        </div>
    </div>
    <div>
        <!-- el campo for es para mapear la entrada de tipo imput y va con el id -->
        <label for="username">Username</label>
        <div>
            <!-- el campo value es con el nombre de la clase pero en minuscula como lo es usuario y por debajo hace la consulta al
            metodo getUsername y del mismo modo para cada entrada del formulario
            th:field="*{username} Para mapear el campo de un formulario a un objeto con thymeleaf y Spring hacia los atributos de una clase en este caso la clase Usuario.
            utilizamos el (*) hace referencia a un mapeo o asignacion de un campo a un atributo de una clase-->
            <input type="text" id="username" th:field="*{username}">
        </div>
        <!-- para los mensajes de eror de la validacion en el controlador con @valid  BindingResult
        Estos mensajes de error los manejara thymeleaf y Spring
        # para utilizar un objeto propio de thymeleaf un helper para validar y obtener los mensajes de error
        *{} para mapear campos al formulario ya sea de un atributo entity
        ${} para una expresión con codigo Java
        @{} para mapeo de rutas URL-->
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>
    <div>
        <label for="password">Password</label>
        <div>
            <input type="password" id="password" th:field="*{password}">
        </div>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>
    <div>
        <label for="email">Email</label>
        <div>
            <input type="text" id="email" th:field="*{email}">
        </div>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
    <div>
        <label for="identificador">Identificador</label>
        <div>
            <input type="text" id="identificador" th:field="*{identificador}">
        </div>
        <div th:if="${#fields.hasErrors('identificador')}" th:errors="*{identificador}"></div>
    </div>
    <div>
        <label for="cuenta">Cuenta</label>
        <div>
            <input type="number" id="cuenta" th:field="*{cuenta}">
            <!-- El type="number" solo pondra en el input numeros enteros no permite strings-->
        </div>
        <div th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}"></div>
    </div>
    <div>
        <label for="fechaNacimiento">Fecha de Nacimiento</label>
        <div>
            <input type="date" id="fechaNacimiento" th:field="*{fechaNacimiento}" placeholder="yyyy/MM/dd">
            <!-- type="date" campo que pertenece html 5 es para entradas de tipo fecha. -->
        </div>
        <div th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></div>
    </div>
    <div>
        <div>
            <input type="submit" value="Enviar"> <!-- Boton para el envio de los datos del formulario -->
        </div>
    </div>
</form>

</body>
</html>