<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>

<h3 th:text="${titulo}"></h3>

<!--El controlador con la ruta @PostMapping("/form") retornara esta vista y le pasara el valor de las siguientes variables -->
<ul>

    <!-- Como en el controlador el objeto es mapeado, aqui en la vista se puede hacer el llamado a los metoso getters. -->
    <!-- Todos estos llamados son al objeto usuario para mostrar sus valores-->
    <li th:text="${usuario.nombre}"></li>
    <li th:text="${usuario.apellido}"></li>
    <li th:text="${usuario.username}"></li>
    <li th:text="${usuario.password}"></li>
    <li th:text="${usuario.email}"></li>
    <li th:text="${usuario.identificador}"></li>
    <li th:text="${usuario.cuenta}"></li>
<!------------------------------------------------------------------------------------------------------------------------------->
<!--   DOS FORMAS PARA CAMBIAR EL FORMATO DE FECHA      -->
    <!--<li th:text="${#dates.format(usuario.fechaNacimiento, 'dd/MM/yyyy')}"></li>--> <!-- Para dar formato al dato de salida-->
    <li th:text="${#calendars.format(usuario.fechaNacimiento, 'dd-MM-yyyy')}"></li> <!-- Para dar formato al dato de salida-->
<!--------------------------------------------------------------------------------------------------------------------------------->
    <li th:text="${usuario.pais}"></li>
</ul>

</body>
</html>